In [ ]:

import pandas as pd
import matplotlib.pyplot as plt
import csv
import numpy as np

In [ ]:

# Load the dataset
data = pd.read_csv('walmart.csv')

# Display the first few rows of the dataset
data.head()

In [ ]:

# Convert 'Purchase' column to numeric, drop rows with missing values in critical columns
data['Purchase'] = pd.to_numeric(data['Purchase'], errors='coerce')
data = data.dropna(subset=['Gender', 'Age', 'Purchase'])

# Print dataset information and row count
count = len(data)
print(f"The total number of rows in the dataset: {count}")

data.info()

In [ ]:
data['User_ID'] = data['User_ID'].astype(str)
data['Product_ID'] = data['Product_ID'].astype(str)
data['Gender'] = data['Gender'].astype(str)
data['Age'] = data['Age'].astype(str)
data['Occupation'] = data['Occupation'].astype(str)
data['City_Category'] = data['City_Category'].astype(str)
data['Marital_Status'] = data['Marital_Status'].astype(str)
data['Product_Cataegory'] = data['Product_Category'].astype(str)

data.info()

In [ ]:
# Total sales by Age
salesByAgeGroup = data.groupby('Age').sum()['Purchase'].reset_index()
salesByAgeGroup = salesByAgeGroup.sort_values(by='Purchase', ascending=False)

salesByAgeGroup

In [ ]:
# Calculates total sales by gender
genderTotal = data.groupby('Gender')['Purchase'].sum()
genderTotal
genderTotal_df = genderTotal.reset_index()
genderTotal_df.columns = ['Gender', 'Totals']
genderTotal = data.groupby('Gender')['Purchase'].sum()

genderTotal_df

In [ ]:
# % of sales for each gender
percentageTotal = genderTotal_df['Totals'].sum()

genderTotal_df['Percentage'] = (genderTotal_df['Totals'] / percentageTotal) * 100

# rounds by two decimals
genderTotal_df['Percentage'] = genderTotal_df['Percentage'].round(2)
genderTotal_df

In [ ]:
# Total sales by age and gender
salesByAgeGender = data.groupby(['Age', 'Gender']).sum()['Purchase'].reset_index()
salesByAgeGender.columns = ['Age', 'Gender', 'Total Sales']
print("Total Sales by Age and Gender: ")
salesByAgeGender

In [ ]:
#Average purchase price per gender
genderGroupPurchase = data.groupby('Gender')['Purchase'].mean().reset_index()
genderGroupPurchase.columns = ['Gender', 'Average Purchase']
genderGroupPurchase

In [ ]:
#Average purchase price by Age group
genderGroupAge = data.groupby('Age')['Purchase'].mean().reset_index()
genderGroupAge.columns = ['Age', 'Average Purchase']
print("Average Purchase Price by Age Group: ")
genderGroupAge

In [ ]:
#genderTotal = data.groupby('Gender')['Purchase'].sum()
#genderTotal

In [ ]:
#genderTotal = data.groupby()

plt.bar(genderTotal_df['Gender'], genderTotal_df['Totals'], color=['blue', 'green'])
plt.title('Total Spending by Gender')
plt.xlabel('Gender')
plt.ylabel('Total Spending')
plt.show()

In [ ]:
#calculate purchase price by occupation
genderGroupOcc = data.groupby('Occupation')['Purchase'].mean().reset_index()
genderGroupOcc.columns = ['Occupation', 'Average Purchase']
genderGroupOcc

In [ ]:
# Avgerage purchase price by City Category
genderGroupCity = data.groupby('City_Category')['Purchase'].mean().reset_index()
genderGroupCity.columns = ['City Category', 'Average Purchase']
print("Average Purchase Price by City Category: ")
genderGroupCity

In [ ]:
# Median purchase price by gender
medianPurchaseByGender = data.groupby('Gender')['Purchase'].mean().reset_index()
medianPurchaseByGender.columns = ['Gender', 'Median Purchase']
medianPurchaseByGender

In [ ]:
# Total Sales by Product Category
productSales = data.groupby('Product_Category')['Purchase'].sum().reset_index()
productSales = productSales.sort_values(by='Purchase', ascending=False)
productSales.columns = ['Product Category', 'Total Sales']
productSales

In [ ]:
cityTotalSales = data.groupby('City_Category')['Purchase'].sum().reset_index()
cityTotalSales.columns = ['City Category', 'Total Purchase']
cityTotalSales

In [ ]:
# Top 10 customers by Total Purchases
topCustomers = data.groupby('User_ID')['Purchase'].sum().sort_values(ascending=False).head(10).reset_index()
topCustomers.columns = ['Top 10 Customer IDs', 'Total Purchases']
topCustomers

In [ ]:
#genderTotal = data.groupby()
# Define the RGBA for light purple and light green
light_purple = (200/255, 162/255, 200/255, 1)  # Normalize RGB values to [0, 1]
light_green = (144/255, 238/255, 144/255)
#RGB(144, 238, 144)
# Create the bar plot
plt.bar(genderTotal_df['Gender'], genderTotal_df['Totals'], color=[light_purple, light_green])
plt.title('Total Spending by Gender')
plt.xlabel('Gender')
plt.ylabel('Total Spending')
plt.show()

In [ ]:
# pie chart showing total sales differences between men and women
genderTotal.plot(
    kind = "pie",
    autopct = "%1.1f%%",
    colors = ["pink", "blue"]
)
plt.title("Total spending diffferences amongst genders")
plt.show()

In [ ]:
data.info()

In [ ]:
## example how to convert data types: total_rows['ColumnID'] = total_rows['ColumnID'].astype(str)

data['User_ID'] = data['User_ID'].astype(str)
data['Product_ID'] = data['Product_ID'].astype(str)
data['Gender'] = data['Gender'].astype(str)
data['Age'] = data['Age'].astype(str)
data['Occupation'] = data['Occupation'].astype(str)
data['City_Category'] = data['City_Category'].astype(str)
data['Marital_Status'] = data['Marital_Status'].astype(str)
data['Product_Cataegory'] = data['Product_Category'].astype(str)

data.info()

In [ ]:
#calculate the average purchase price per gender and product category
genderGroupPurchase = data.groupby(['Gender']).mean('Purchase')
genderGroupPurchase = pd.DataFrame(genderGroupPurchase['Purchase'])
genderGroupPurchase

In [ ]:
#calculate the average purchase price per gender and product category
genderGroupPurchasePC = data.groupby(['Gender', 'Product_Category']).mean('Purchase')
genderGroupPurchasePC

In [ ]:
#calculate average purchase price by Age group
genderGroupAge = data.groupby('Age').mean('Purchase')
genderGroupAge

In [ ]:
#calculate total purchase price by Age group
genderGroupAgeSum = data.groupby('Age').sum('Purchase')
genderGroupAgeSum

In [ ]:
#calculate purchase price by occupation
genderGroupOcc = data.groupby('Occupation').mean('Purchase')
genderGroupOcc

In [ ]:
#create dataframe with averasge purchase price by age

Age_purchase=genderGroupAge['Purchase']
Age_purchase = pd.DataFrame(Age_purchase)
Age_purchase

In [ ]:
#calculate average purchase price by CIty Category
genderGroupCity = data.groupby('City_Category').mean('Purchase')
genderGroupCity

In [ ]:
#Total spend by Marital Status - generally, copy from the Male female spend overview.  Bar Chart. (Amy)
MaritalStatPurchase = data.groupby('Marital_Status').sum('Purchase')
MaritalStatPurchase = pd.DataFrame(MaritalStatPurchase['Purchase'])

#MaritalStatPurchase['Purchase'] = MaritalStatPurchase['Purchase'].map("{:,}".format)

MaritalStatPurchase

In [ ]:

#create graph for marrital status and total purchase
#set x-axis and tick locations
x_axis = ['Unmarried', 'Married']
tick_locations = [value for value in x_axis]
plt.figure(figsize=(10,4))
plt.bar(x_axis, MaritalStatPurchase['Purchase'], color=('b', 'y'), alpha=0.5, align='center')
plt.xticks(tick_locations, rotation='horizontal')
plt.ylim(0, max(MaritalStatPurchase["Purchase"]+50000000))
plt.title("Total Spend, Married vs. Unmarried")
plt.xlabel("Marital Status")
plt.ylabel("Total Spend in billions of $")
plt.show

In [ ]:
# overviewe of total spend per product category (Amy/Anna)
#filter the data df for married 
#group df filtered for married by product category
ProdCategorySum = data.groupby(['Product_Category']).sum('Purchase')
ProdCategorySum

In [ ]:
#create graph for shoppers total spend per category
#set x-axis and tick locations
x_axis = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
tick_locations = [value for value in x_axis]
plt.figure(figsize=(20,4))
plt.bar(x_axis, ProdCategorySum['Purchase'], color=('purple'), alpha=0.5, align='center')
plt.xticks(tick_locations, rotation='vertical')
plt.ylim(0, max(ProdCategorySum["Purchase"]+20000000))
plt.title("Total Spend per Product Category Overall")
plt.xlabel("Product Category")
plt.ylabel("Total Spend in Billions $")

plt.show

In [ ]:
# overviewe of average spend per product category (Amy/Anna)
#filter the data df for married 
#group df filtered for married by product category
ProdCategoryMean = data.groupby(['Product_Category']).mean('Purchase')
ProdCategoryMean

In [ ]:
#create graph for shoppers total spend per category
#set x-axis and tick locations
x_axis = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
tick_locations = [value for value in x_axis]
plt.figure(figsize=(20,4))
plt.bar(x_axis, ProdCategoryMean['Purchase'], color=('yellow'), alpha=0.5, align='center')
plt.xticks(tick_locations, rotation='vertical')
plt.ylim(0, max(ProdCategoryMean["Purchase"]+200))
plt.title("Average Spend per Product Category Overall")
plt.xlabel("Product Category")
plt.ylabel("Total Spend in $")

plt.show

In [ ]:
# overviewe of category and marital status (Amy)
#filter the data df for married 
MarriedMeanPurch = data[data['Marital_Status']=='1']

#group df filtered for married by product category
MarriedMeanPurchProd = MarriedMeanPurch.groupby(['Product_Category']).mean('Purchase')
MarriedMeanPurchProd

In [ ]:
UnmarriedMeanPurch = data[data['Marital_Status']=='0']

UnmarriedMeanPurch = UnmarriedMeanPurch.groupby(['Product_Category']).mean('Purchase')
UnmarriedMeanPurch

In [ ]:
#create graph for unmarried shoppers and averge purcahse
#set x-axis and tick locations
x_axis2 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
tick_locations = [value for value in x_axis2]
plt.figure(figsize=(20,4))
plt.bar(x_axis2, UnmarriedMeanPurch['Purchase'], color=('b'), alpha=0.5, align='center')
plt.xticks(tick_locations, rotation='vertical')
plt.ylim(0, max(UnmarriedMeanPurch["Purchase"]+200))
plt.title("Average Spend per Product Category, Unmarried Shoppers")
plt.xlabel("Product Category")
plt.ylabel("Average Spend in $")

plt.show

In [ ]:
#create graph for married shoppers and averge purcahse
#set x-axis and tick locations
x_axis = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
tick_locations = [value for value in x_axis]
plt.figure(figsize=(20,4))
plt.bar(x_axis, MarriedMeanPurchProd['Purchase'], color=('g'), alpha=0.5, align='center')
plt.xticks(tick_locations, rotation='vertical')
plt.ylim(0, max(MarriedMeanPurchProd["Purchase"]+200))
plt.title("Average Spend per Product Category, Married Shoppers")
plt.xlabel("Product Category")
plt.ylabel("Average Spend in $")

plt.show

In [ ]:
# create a bar graph with multiple bars grouped by product category for married vs unmarried average spend by product category
x = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
x_axis = np.arange(len(x))

plt.bar(x_axis -.2, MarriedMeanPurchProd['Purchase'], 0.4, label = "Married")
plt.bar(x_axis +.2, UnmarriedMeanPurch['Purchase'], 0.4, label = "Unmarried")

plt.xticks(x_axis, x) 
plt.xlabel("Product Category") 
plt.ylabel("Average Spend") 
plt.title("Average Spend per Product Category, Married vs Unmarried") 
plt.legend() 
plt.show()

In [ ]:
#subtract married from unmarried
UnmarriedvsMarriedDiff = UnmarriedMeanPurch - MarriedMeanPurchProd
UnmarriedvsMarriedDiff
maxdiff =

In [ ]:
#Calculate the average purchase amount by Marital Status 
genderGroupMarital_Status = data.groupby('Marital_Status')['Purchase'].mean().reset_index()
genderGroupMarital_Status

In [ ]:
genderGroupMarital_Status = pd.DataFrame(
    {
        'Marital_Status': genderGroupMarital_Status['Marital_Status'], 
        'Purchase': genderGroupMarital_Status['Purchase']
    }
)
print(genderGroupMarital_Status)

In [ ]:
# Calculate the total purchase amount by Occupation
genderGroupOccupation = data.groupby('Occupation')['Purchase'].sum()
genderGroupOccupation

In [ ]:
# Create a pie chart based on above data

#Create axes and title 

# plt.title('Avg Purchase Amount by Marital Status')
labels = 'Unmarried', 'Married'
sizes = [9265.91, 9261.17]

fig, ax = plt.subplots()
ax.pie(sizes, labels=labels,autopct='%1.3f%%')
ax.set_title("Avg Purchase Amount by Marital Status")
plt.show()

In [ ]:
# Average spent per city
purchasePerCity = data.groupby('City_Category').mean('Purchase')
purchasePerCity

In [ ]:

data.boxplot(column='Purchase', by='City_Category', grid=False, showmeans=True, patch_artist=True, 
             boxprops=dict(facecolor="skyblue", color="black"), 
             medianprops=dict(color="red"),
             meanprops=dict(marker="o", markerfacecolor="green", markeredgecolor="black"))

plt.title('Purchase Distribution by City')
plt.suptitle('')  
plt.xlabel('City Category')
plt.ylabel('Purchase Amount')
plt.show()

In [ ]:
# Average spent per Number of years lived in a city
purchasePerYearsInCity = data.groupby('Stay_In_Current_City_Years').mean('Purchase')
purchasePerYearsInCity

In [ ]:
# Calculate average purchase grouped by years in the city
purchasePerYearsInCity = data.groupby('Stay_In_Current_City_Years')['Purchase'].mean().reset_index()

# Create a new DataFrame with the required format
spentByYearsInCityDF = pd.DataFrame(
    {
        "Stay In Current City (Years)": purchasePerYearsInCity['Stay_In_Current_City_Years'],
        "Purchase": purchasePerYearsInCity['Purchase']
    }
)

print(spentByYearsInCityDF)

In [ ]:
# Plot the horizontal bar chart
plt.figure(figsize=(10, 6))
plt.barh(
    spentByYearsInCityDF["Stay In Current City (Years)"], 
    spentByYearsInCityDF["Purchase"], 
    color='skyblue'
)

# Add labels and title
plt.xlabel('Average Purchase Amount')
plt.ylabel('Years Spent in Current City')
plt.title('Average Purchases by Years Spent in Current City')
plt.grid(axis='x', linestyle='--', alpha=0.7)
plt.xlim(8000, max(spentByYearsInCityDF["Purchase"]+100))


# Show the plot
plt.show()